
<div style="text-align:center">
  <h2>Finder</h2>
  <hr />
  <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <app-search></app-search>
        </div>
  </div>
  <div class="row">
      <div class="col-md-12">
        <br>
        </div>
        </div>
  <div class="row">
    <div class="col-md-4">
      <h4>Supervisor</h4>
      <hr />
      <app-supervisor></app-supervisor>
    </div>
    <div class="col-md-4">
        <h4>Employee - List</h4>
        <hr />
      <app-employee-list></app-employee-list>
    </div>
    <div class="col-md-4">
        <h4>Profile</h4>
        <hr />
      <app-employee></app-employee>
    </div>
  </div>
</div>
